* {
     box-sizing: border-box;
 }

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    margin: 0px;
    border: 2px solid #f76707;
    border-radius: 5px;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;
}

.center-text {
    text-align: center;
}

.pad-left {
    padding-left: 1rem;
}

.pad-top {
    padding-top: 1rem;
}

.margin {
    margin: 0.5rem;
}
.uline {
    text-decoration: underline;
}

.horizFlex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.vertFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    grid-column-start: 2;
    grid-column-end: 3;
}

#stats {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#controls {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr;
}

#buttons {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

canvas {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: indianred;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
}